[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ntplib = ">=0.3.3"
requests = ">=2.9.1"
"beautifulsoup4" = ">=4.6.0"
colorama = ">=0.3.9"
ffmpy = ">=0.2.2"
pexpect = ">=4.5.0"
publicsuffix = ">=1.1.0"
wakeonlan = ">=1.1.6"
GitPython = ">=2.1.9"
configparser = "*"

[dev-packages]

[requires]
python_version = "3.6"
