[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ntplib = "*"
requests = "*"
"beautifulsoup4" = "*"
colorama = "*"
ffmpy = "*"
pexpect = "*"
publicsuffix = "*"
wakeonlan = "*"
GitPython = "*"
configparser = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
